/* - ************************* CODGIGO CSS - TAB1 *************************** - 
//
//
//
//
- ************************* CODGIGO CSS  - TAB1 ************************** - */




/* input_text label.html (configuracion ocultar) */
.hidden-section {
  display: none;                 /* - Oculta las secciones de información por defecto - */
}
.show-icon {
  cursor: pointer;
  float: right;                  /* - Alinea a la derecha usando float - */
}

/* background body.html (fondo de pantalla) */
body {
  background-image: url('../images/2019-07-27 17.10.51.jpg');
  background-size: cover;
  background-attachment: local;  /* - Esta línea hace que el fondo sea fijo - */
}
img[alt=""] {
  display: block;
  margin: 0;
  padding: 0;
}