/* - ************************* CODGIGO CSS - TAB2 *************************** - 
//
//
//
//
- ************************* CODGIGO CSS  - TAB2 ************************** - */




/* - ****************************** SUBCONTEINER *************************** - */
.subcontainer .tab-btn {
  margin: 5px; 
}
  
.subcontainer .tab-btn#btngestion_in_tab3 {
  height: 30px; /* ajusta la altura según tus necesidades */
}
.subcontainer .tab-btn#btnlibrerias_fiber {
  margin: 5px; 
  width: 30px;  /* ajusta el ancho según tus necesidades */
  height: 30px; /* ajusta la altura según tus necesidades */
  background-color: #525151; 
  color: #fff; 
  border: none; 
  padding: 7px; 
  font-size: 10px; 
  cursor: pointer; 
}

#tab_librerias_fiber {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px; /* Espacio entre las celdas */
}

#tab_librerias_fiber .tab-btn {
  background-color: #424242d4;
  color: #fbeb95;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 4px;
  border-radius: 5px;
}


.subcontainer .tab-btn#btnreturn_tab3 {
  max-width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 30px; /* Ajusta la altura según tus necesidades */
  background-color: #525151;
  color: #fff;
  border: none;
  padding: 5px;
  line-height: 5px; /* Ajusta la altura del contenedor verticalmente */
  font-size: 10px;
  cursor: pointer;
}
/* - ****************************** SUBCONTEINER *************************** - */

