/* - ************************* CODGIGO CSS - TAB2 *************************** - */
/* -                                                                          - */ 
/* -                                                                          - */ 
/* -                           Codigo CCS principal                           - */ 
/* -                                                                          - */ 
/* -                                                                          - */ 
/* - ************************* CODGIGO CSS  - TAB2 ************************** - */




/* - ***************************** MAQUETA INICIAL ************************* - */
body {                          /* Establece los estilos generales para el cuerpo de la página */
  background-color: #060606; 
  color: #fff;
  margin: 5px; 
  font-family: sans-serif; 
  font-size: 14px; 
  font-weight: 700; 
  height: fit-content; 
  margin-bottom: 5px; 
  min-width: 350px;
  max-width: 500px;   /* verificar */
  margin-left: 10px;  /* verificar */
  margin-right: 10px; /* verificar */ 
  
}
/* - ***************************** MAQUETA INICIAL ************************* - */
  
  


/* - ******************************** CONTEINER **************************** - */
.container {                    /* Estilos para el contenedor principal */
  min-width: 350px; 
  max-width: 500px; 
  padding: 20px; 
  border: 1px solid #00fad0; 
  line-height: 1.5; 
  padding: 0 1em; 
  background-color: #1a1a1a; 
  border-radius: 5px; 
  position: relative; 
  height: auto; 
  max-width: auto; 
  margin-bottom: 10px; 
}
.tabs {                         /* Estilos para los botones superiores */
  margin-top: 5px; 
  margin-bottom: 5px; 
  display: flex; 
}
.tab-btn {                      /* Estilos para los botones de pestañas */
  flex: 1; 
  background-color: #525151; 
  color: #fff; 
  border: none; 
  padding: 10px; 
  font-size: 10px; 
  cursor: pointer; 
  text-decoration: none;        /* Quitar subrayado en los enlaces */
}
.tab-btn.active {               /* Estilos para el botón de pestaña activa */
  background-color: #1a1a1a; 
  text-decoration: none;        /* Quitar subrayado en los enlaces */
}
.tab-content {                  /* Estilos para el contenido de las pestañas */
  display: block; 
}
.tab-content.active {           /* Estilos para el contenido de pestañas activas */
  display: flex; 
  align-items: flex-start; 
}
.columna {                      /* Estilos para columnas en paralelo */
  display: inline-block;
  width: 22%;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 3px;
}
/* - ******************************** CONTEINER **************************** - */
  
  
  
/* - ****************************** SUBCONTEINER *************************** - */
.subcontainer {                    /* Estilos para el contenedor principal */
  min-width: 350px; 
  max-width: 500px; 
  padding: 20px; 
  /*border: 1px solid #00fad0; */
  /*line-height: 1.5; */
  padding: 0 1em; 
  background-color: #1a1a1a; 
  border-radius: 5px; 
  position: relative; 
  width: auto; 
  height: auto; 
  margin-top: 5px; 
  margin-bottom: 5px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}
/*
.subcontainer .tab-btn {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 10px;
  /*font-weight: bold; /* Texto en negrita 
}
*/
.subcontainer #btniniciar_tab2 {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 10px;
  height: 31px;
  display: flex; /* Utilizar flexbox */
  justify-content: center;
  align-items: center;
  /*font-weight: bold; /* Texto en negrita */
}
.subcontainer #btndescartar_tab2 {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 10px;
  height: 31px;
  display: flex; /* Utilizar flexbox */
  justify-content: center;
  align-items: center;
  /*font-weight: bold; /* Texto en negrita */
}
.subcontainer #btnfinalizar_tab2 {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 10px;
  height: 31px;
  display: flex; /* Utilizar flexbox */
  justify-content: center;
  align-items: center;
  /*font-weight: bold; /* Texto en negrita */
}
#btngestion_in_tab2,             /* Aplicar estilo para ocultar visualmente los botones */
#btnnotas_tab2,
#btnlibrerias_fiber_tab2 {
  position: absolute;
  left: -9999px;
}
.subcontainer #btnleftarrow_tab2 {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 20px;
  max-width: 60px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcontainer #btnrightarrow_tab2 {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 20px;
  max-width: 60px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcontainer #btnreturn_tab2 {
  margin: 2px; 
  background-color: white;
  color: black;
  font-size: 20px;
  max-width: 60px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}
hr {
  border: 0;
  width: calc(100% - 10px); /* Ancho menos los márgenes (5px a cada lado) */
  max-width: 450px; /* Tamaño máximo */
  height: 1px;
  background: #1a1a1a;
  /*background: #00fad0;*/
  margin-top: 1px 
}
label {                         /* Estilos para etiquetas */
  display: block;
  margin-bottom: 5px;
  margin-top: 6px;
  margin-left: 2px;
  font-size: 12px;
  color: #01ffc8;
  text-align: left;             /* Alinea el texto del label a la derecha */
}
input[type="text"] {            /*  para cuadros de texto */
  width: 75%;
  padding: 10px;
  margin-bottom: 8px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 12px;
  height: 5px;
  border-radius: 5px;
}
/* - ****************************** SUBCONTEINER *************************** - */
  
  
  

/* ***************************** GRID CONFIG ***************************** - */               
#tab_gestion_in .grid-container {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 90px; /* Define las columnas */
  /*grid-template-columns: auto; /* Cada columna se ajustará automáticamente */
  grid-gap: 5px; /* Espacio entre las celdas */
  align-items: center; /* Alinea verticalmente los elementos */
  max-width: 500px;
}
#tab_gestion_in .grid-subcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto)); /* Las columnas se ajustarán automáticamente pero con un ancho mínimo */
  /*grid-template-columns: auto; /* Cada columna se ajustará automáticamente */
  /*gap: 10px;*/ 
}
.grid-item {
  border: 1px solid #ccc; /* Borde para simular un campo de entrada */
  /*color: black; /* Letra negra para todas las celdas */
  padding: 5px; /* Espaciado interno */  
  font-size: 10px; /* Establece el tamaño de fuente para los elementos */
  margin-top: 6px;
}
select {
  width: 90%; /* Opcional: establece el ancho del select al 100% */
  text-align: center; /* Alinea el texto del select al centro */
}
/* Estilos para las opciones del select */
select option[value="SI"] {
  background-color: lightgreen; /* Color de fondo para la opción SI */
}
select option[value="NO"] {
  background-color: lightcoral; /* Color de fondo para la opción NO */
}
select option[value="CRECIMIENDO"] {
  background-color: 32c3b7; /* Color de fondo para la opción SI */
}
select option[value="AMBA"] {
  background-color: lightcoral; /* Color de fondo para la opción NO */
}
select option[value="INTERIOR"] {
  background-color: lightgreen; /* Color de fondo para la opción SI */
}
/* ***************************** GRID CONFIG ***************************** - */               
              





/* ***************************** GRID HEDADERS ***************************** - */               
/*
.grid-item-header {
  /*background-color: rgb(236, 236, 236); /* Color de fondo para la opción SI */
  /*border: 0px solid #ccc; /* Borde para simular una celda */
  /*padding: 5px; /* Espaciado interno */
  /*text-align: center; /* Alinea verticalmente los elementos */
  /*width: 365px; /* Ocupar el 100% del ancho del contenedor */
  /*height: 5px;
  /*font-size: 10px; /* Tamaño de fuente para los elementos */
  /*color: black; /* Cambiar el color del texto a blanco */
  /*line-height: 5px; /* Igual al valor de height para centrar verticalmente */
  /*font-weight: bold; 
}
*/
.datos-in-1 {
  background-color: #debd03; /* Color de fondo gris */
  color: rgb(10, 10, 10); /* Cambiar el color del texto a blanco */
  padding: 5px; /* Espaciado interno */
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 160px;
  font-weight: bold;
}
.datos-in-2 {
  background-color: #debd03; /* Color de fondo gris */
  color: rgb(10, 10, 10); /* Cambiar el color del texto a blanco */
  padding: 5px; /* Espaciado interno */
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 175px;
  margin-left: 110px;
  font-weight: bold;
}
.datos-de-contacto-1 {
  background-color: #FF7F50; /* Color de fondo gris */
  color: rgb(10, 10, 10); /* Cambiar el color del texto a blanco */
  padding: 5px; /* Espaciado interno */
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 160px;
  font-weight: bold;
}
.datos-de-contacto-2 {
  background-color: #FF7F50; /* Color de fondo gris */
  color: rgb(10, 10, 10); /* Cambiar el color del texto a blanco */
  padding: 5px; /* Espaciado interno */
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 175px;
  margin-left: 110px;
  font-weight: bold;
}
.datos-tecnicos-hfc-1 {
  background-color: #32c3b7;
  color: rgb(10, 10, 10); /* Cambiar el color del texto a blanco */
  padding: 5px; /* Espaciado interno */
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 160px;
  font-weight: bold;
} 
.datos-tecnicos-hfc-2 {
  background-color: #32c3b7; /* Color de fondo gris */
  color: rgb(10, 10, 10); /* Cambiar el color del texto a blanco */
  padding: 5px; /* Espaciado interno */
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 175px;
  margin-left: 110px;
  font-weight: bold;
}
/*
.datos-tecnicos-fo {
  background-color: #55b26c;
  color: rgb(10, 10, 10);
  padding: 5px; 
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 175px;
  margin-left: 110px;
  font-weight: bold;
}

.datos-reagenda-hfc {
  grid-gap: 5px;
  background-color: #a9145c;
  padding: 5px; 
  color: white;  
  font-size: 12px;
  text-align: center;
  height: 8px;
  line-height: 8px; 
  width: 175px;
  margin-left: 3px;
  font-weight: bold;
}
*/
/* ***************************** GRID HEDADERS ***************************** - */               




/* ***************************** GRID INPUTS ***************************** - */               
#btmercado_tab2 {
  background-color: #debd03 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
  width: 100px;
  height: 26px;
  margin-bottom: 2px;
}
#cliente_tab1 {
  background-color: #debd03; /* Color de fondo dorado */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#cuit_tab1 {
  background-color: #debd03; /* Color de fondo dorado */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#producto_tab1 {
  background-color: #debd03; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#linea_tab1 {
  background-color: #debd03; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#ticket_in_tab1 {
  background-color: #debd03; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
/* separador de inputs grid */
#nombre_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#tel_contacto_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#mail_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#disponibilidad_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#btAcceso_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
  width: 100px;
  height: 26px;
  margin-bottom: 2px;
}
#btTerraza_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
  width: 100px;
  height: 26px;
  margin-bottom: 2px;
}
#btCovid_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
  width: 100px;
  height: 26px;
  margin-bottom: 2px;
}
#domicilio_tab1 {
  background-color: #FF7F50 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
/* separador de inputs grid */
#uptime_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#cm_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#nodo_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#ot_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
  max-width: 80px;
  margin-right: 80px;
}
#cpe_mac_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#cpe_ip_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#cpe_model_tab1 {
  background-color: #32c3b7 ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#ip_wan_tab1 {
  background-color: #55b26c ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#ip_sco_tab1 {
  background-color: #55b26c ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
  max-width: 120px;
}
#port_sco_tab1 {
  background-color: #55b26c ; /* Color de fondo gris */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#tk_cliente_tab1 {
  background-color: #a9145c ; /* Color de fondo gris */
  color: white; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#resumen_tab1 {
  background-color: #a9145c ; /* Color de fondo gris */
  color: white; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
#ot_cliente_tab1 {
  background-color: #a9145c ; /* Color de fondo gris */
  color: white; /* Color del texto */
  border: 1px solid black; /* Borde negro */
  font-weight: bold;
}
/* ***************************** GRID INPUTS ***************************** - */               




/* - ***********************  NOTEPAD || bloc de notas ********************* - */
.notepad {                      /* Estilos para el bloc de notas */
  min-width: 350px;
  max-width: 350px; /* Ancho máximo del bloc de notas */
  min-height: 45px;
  max-height: auto;
  background-color: #ffffff;
  border: px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #000000;
  resize: initial;
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 8px;
}

.notepad-container-4,
.notepad-container-5,
.notepad-container-6  {
  width: 350px; /* Ancho máximo del contenedor del bloc de notas */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  margin-right: 20px; /* Agrega un margen derecho mínimo */

}
/* - ***********************  NOTEPAD || bloc de notas ********************* - */
  
  
  
  
/* ********************** botones y selector ******************** - */     
#tab_tickets .grid-subcontainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.button-container,
.select-container {
    display: flex;
    gap: 10px;   
}
#botonIncidentes {
  background-color: #424242d4 ;  
  color: #fbeb95;
  border: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 12px;
}
#botonSolicitudes {
  background-color: #424242d4 ; 
  color: #fbeb95;
  border: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 12px;
}

/* Estilos para los elementos select */
.custom-select {  
  width: 250x;
  height: 25px;
  margin-top: 5px;
  margin-left: 2px;
  font-size: 12px;
  border: 1px solid #91955b;
  border-radius: 8px;
  background-color: #424242d4;
  color: #fbeb95;
}
.custom-select option {          /*  para opciones de selectores */
  width: 250px;
  height: 25px;
  font-size: 10px;
  border: 0px solid #f7f7f7;
  background-color: #424242d4;
  color: #fbeb95;
}
/* ********************** botones y selector ******************** - */     


/* ********************** NOTEPAD 1-2 ******************** - */     
input[type="submit"] {          /* Estilos para botones de envío */
  background-color: #424242d4;
  color: #fbeb95;
  border: none;
  padding: 8px 12px;
  font-size: 10px;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 4px;
  margin-left: 3px;
  border-radius: 5px;
}
input[type="submit"]:active {   /* Estilos para botones de envío activos */
  background-color: #1a1a1a;
  box-shadow: 0 0px #424242d4;
  transform: translateY(1px);
}
.notepad-container-1 > div,
.notepad-container-2 > div {
  display: inline-block; /* Mostrar los elementos en línea */
  vertical-align: top; /* Alinearlos en la parte superior */
}
#botonBajarDatos {
  margin-left: 15px;
  /* background-color: red; /* Cambia el color de fondo a rojo */
  /* color: white; /* Cambia el color del texto a blanco */
  /* Agrega más estilos personalizados si es necesario */
}
#botonSumarReg {
  margin-left: 30px;
  /* background-color: red; /* Cambia el color de fondo a rojo */
  /* color: white; /* Cambia el color del texto a blanco */
  /* Agrega más estilos personalizados si es necesario */
}
#botonExportar {
  margin-left: 50px;
  /* background-color: red; /* Cambia el color de fondo a rojo */
  /* color: white; /* Cambia el color del texto a blanco */
  /* Agrega más estilos personalizados si es necesario */
}
select.modern {                 /* Estilos para selectores */
  width: 340px;
  height: 25px;
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: 3px;
  font-size: 12px;
  border: 2px solid #91955b;
  border-radius: 8px;
  background-color: #424242d4;
  color: #fbeb95;
}
select.modern option {          /*  para opciones de selectores */
  width: 340px;
  height: 35px;
  font-size: 12px;
  border: 0px solid #f7f7f7;
  background-color: #424242d4;
  color: #fbeb95;
}
/* ********************** NOTEPAD 1-2 ******************** - */     
  




/* ***************************** PIE DE PAGINA ***************************** - */                  
.footer {
  font-size: 10px;
  color: #00fad0;
  text-align: center;
  margin-bottom: 0.5px;
}
/* ***************************** PIE DE PAGINA ***************************** - */               
  




/* ***************************** FONDO DE PANTALLA ***************************** - */               
/* input_text label.html (configuracion ocultar) */
.hidden-section {
  display: none;                 /* - Oculta las secciones de información por defecto - */
}
.show-icon {
  cursor: pointer;
  float: right;                  /* - Alinea a la derecha usando float - */
}

/* background body.html (fondo de pantalla) */
body {
  background-image: url('2019-07-27\ 17.10.51.jpg');
  background-size: cover;
  background-attachment: local;  /* - Esta línea hace que el fondo sea fijo - */
}
img[alt=""] {
  display: block;               
  margin: 0;
  padding: 0; 
}
/* ***************************** FONDO DE PANTALLA ***************************** - */               